/* CSS Document */

@font-face {
    font-family: "DINWeb-Light";
    font-style: normal;
		font-display: swap;
    font-weight: normal;
    src: url("../../Fonts/din/DINWeb-Light.eot?#iefix") format("embedded-opentype"), url("../../Fonts/din/DINWeb-Light.woff") format("woff");
}
@font-face {
    font-family: "DINWeb";
	font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("../../Fonts/din/DINWeb.eot?#iefix") format("embedded-opentype"), url("../../Fonts/din/DINWeb.woff") format("woff");
}

@font-face {
    font-family: "DINWeb-Bold";
    font-style: normal;
		font-display: swap;
    font-weight: normal;
    src: url("../../Fonts/din/DINWeb-Bold.eot?#iefix") format("embedded-opentype"), url("../../Fonts/din/DINWeb-Bold.woff") format("woff");
}

