
@font-face {
  font-family: "BourtonHandBase";
	font-display: swap;
  src: url('../../Fonts/BourtonHand/BourtonHandBase/font.woff2') format('woff2'), url('../../Fonts/BourtonHand/BourtonHandBase/font.woff') format('woff');
}
@font-face {
  font-family: "BourtonHandLineBold";
	font-display: swap;
  src: url('../../Fonts/BourtonHand/BourtonHandLineBold/font.woff2') format('woff2'), url('../../Fonts/BourtonHand/BourtonHandLineBold/font.woff') format('woff');
}
@font-face {
  font-family: "BourtonHandOutlineMedium";
	font-display: swap;
  src: url('../../Fonts/BourtonHand/BourtonHandOutlineMedium/font.woff2') format('woff2'), url('../../Fonts/BourtonHand/BourtonHandOutlineMedium/font.woff') format('woff');
}